/*page menu*/
.main2{
    height: 300px;
}
.main2 img{
    width: 100%;
    height: 300px;
}
.fa-arrow-left{
    margin: 40px 0 0 15px;
    color: black;
}
.logo-center{
    width: 200px;
    height: 50px;
    margin: auto;
}
.titre-menu{
    background-color: $color-grey2;
    align-items: center;
    padding: 0 15px 0 30px;
    border-radius: 40px 40px 0 0;
    h1{
        font-family:"Shrikhand";
        font-weight: bold;
        font-size: 35px;  
    }      
}
.section2{
    width: 100%;
    background-color: $color-grey2;
    padding-bottom: 65px;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -45px;
    .btn{
        width: 200px;
        border-radius: 25px;
        height: 50px;
        background: linear-gradient($color-secondary, $color-primary);
        text-align: center;
        margin: auto;
        p{
            color: white;
            line-height: 300%;
        }
    }
}
.section-title{
    padding-bottom: 20px;
    h2{
    margin-left: 25px;
    }
}    
.txt-menu{
    height: 80px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    animation: menu 1s;
    animation-fill-mode: both;
    overflow: hidden;
    .txt-1{
        margin: 15px;   
    }
    .txt-2{
        margin: 40px 15px 0 0;
    }
}
.delay1{
    animation-delay: 100ms;
}
.delay2{
    animation-delay: 200ms;
}
.delay3{
    animation-delay: 300ms;
}
.section2 h2{
    width: 60px;
    border-bottom: 5px solid $color-tertiary;
    h2::after{
        width: 50%;
    }
    p{
        font-size: 16px;
        font-weight: bolder;
    }
    h3{
        font-size: 16px;
    }
}
/*animation*/
@keyframes menu {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
}
