@charset "UTF-8";
/*couleur*/ /*animation loader spinning*/
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
  }
  99% {
    transform: rotate(360deg) scale(1.15);
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
  }
  99% {
    transform: rotate(360deg) scale(1.15);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loader-contenu {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader-contenu {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*animation navbar chargement*/
@-webkit-keyframes menu {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*animation navbar check*/
@-webkit-keyframes check {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*haut de page + btn*/
main {
  width: 100%;
  background-color: #f3f3f3;
  height: 400px;
}
main #position {
  background-color: #d9d4d4;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b4b1b1;
  font-size: 22px;
  font-weight: bold;
}
main #titre {
  height: 170px;
  text-align: center;
  margin: 15px 30px 5px 30px;
  padding-top: 15px;
}
main #titre h1 {
  font-size: 28px;
}
main #titre p {
  font-size: 17px;
  height: auto;
}
main i {
  margin-right: 15px;
}
main .btn {
  width: 250px;
  border-radius: 25px;
  height: 55px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  margin: auto;
  cursor: pointer;
}
main .btn p {
  color: white;
  line-height: 300%;
  font-weight: bold;
  font-size: 17px;
}

.btn:hover {
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

/*Fonctionnement*/
#menu {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}
#menu #menu-txt {
  margin-left: 15px;
}
#menu .filtre-btn {
  position: relative;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  background-color: #f3f3f3;
  margin: 15px 25px 10px 25px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

.btn-num {
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  margin: 0 0 0 15px;
  width: 25px;
  height: 25px;
  position: relative;
  left: -25px;
}
.btn-num p {
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.logo-filtre {
  color: grey;
  margin: 0 10px 0 10px;
}

.logo-filtre2 {
  color: #9356DC;
  margin: 0 10px 0 10px;
}

/*section*/
section {
  background-color: #f3f3f3;
  padding: 25px 0 25px 0;
  width: 100%;
}
section h2 {
  margin: 25px 0 0 15px;
}
section span h2 {
  border: none;
}

#carte {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  margin: 0 30px 0 0;
}
#carte .carte-img {
  width: 100%;
  margin: 15px 15px 20px 15px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
#carte .carte-img:hover {
  scale: 1.02;
}
#carte .carte-img img {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.txt-card1 {
  position: absolute;
  left: 80%;
  top: 5%;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: #99E2D0;
}
.txt-card1 p {
  color: #1b6150;
  font-weight: bold;
  line-height: 5px;
}

.txt-card2 {
  display: flex;
  justify-content: space-between;
}

/*coeur*/
.logo-card {
  margin: 25px 25px 0 0;
  color: black;
}
.logo-card .fa-solid {
  position: relative;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.logo-card .fa-regular {
  position: absolute;
}
.logo-card:hover .fa-solid {
  opacity: 1;
  transform: scale(1.1);
}

.logo-card2 {
  margin: 0;
  margin-right: 15px;
}

.txt-card3 {
  margin-left: 15px;
  color: black;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  #contenu2 {
    max-width: 600px;
  }
  #contenu {
    max-width: 600px;
  }
  .txt-menu {
    width: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  #carte {
    width: auto;
    display: block;
  }
}
/*Page d'acceuil*/
@media screen and (min-width: 1000px) {
  #contenu {
    width: auto;
    margin: 0;
  }
  #menu-txt {
    padding: 25px 0 25px 0;
  }
  #menu-txt h2 {
    font-size: 30px;
  }
  #filtre {
    display: flex;
    justify-content: space-around;
    margin: 0 25px 0 25px;
    width: auto;
  }
  #filtre .filtre-btn {
    padding-right: 25px;
    padding: auto;
  }
}
@media screen and (min-width: 1000px) {
  section {
    max-width: 100%;
  }
  section h2 {
    font-size: 30px;
  }
  section #carte {
    align-content: space-around;
  }
  section #carte .carte-img {
    margin: 0;
    margin: 15px;
  }
  section #carte .txt-card1 {
    left: 70%;
    margin-right: auto;
  }
}
/*Page restaurant*/
@media screen and (min-width: 800px) {
  .main2 img {
    width: auto;
    height: auto;
  }
  .section2 {
    max-width: 70%;
    margin: auto;
  }
  .section-title {
    max-width: 70%;
    margin: auto;
  }
}
/*page menu*/
.main2 {
  height: 300px;
}

.main2 img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-arrow-left {
  margin: 40px 0 0 15px;
  color: black;
}

.logo-center {
  width: 200px;
  height: 50px;
  margin: auto;
}

.margin-fleche {
  cursor: pointer;
}

.titre-menu {
  background-color: #f3f3f3;
  align-items: center;
  padding: 0 15px 0 30px;
  border-radius: 40px 40px 0 0;
}
.titre-menu h1 {
  font-family: "Shrikhand";
  font-weight: bold;
  font-size: 30px;
}

.section2 {
  width: 100%;
  background-color: #f3f3f3;
  padding-bottom: 60px;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -45px;
}
.section2 .btn {
  width: 200px;
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.section2 .btn p {
  color: white;
  line-height: 300%;
}

.section-title {
  padding-bottom: 20px;
}
.section-title h2 {
  margin-left: 25px;
}

.txt-menu {
  height: 80px;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  -webkit-animation: menu 1s;
          animation: menu 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.txt-menu .txt-1 {
  margin: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.txt-menu .txt-1 h3, .txt-menu .txt-1 p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.txt-menu .txt-2 {
  margin-top: 40px;
  margin-left: auto;
  font-weight: bold;
}
.txt-menu:hover .check {
  margin-right: 0;
  transition-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.txt-menu:hover .item {
  -webkit-animation: check 0.6s;
          animation: check 0.6s;
}

.check {
  overflow: hidden;
  width: 65px;
  height: 80px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  margin-right: -65px;
  margin-left: 15px;
}
.check .item {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100px;
  margin-top: 20px;
}
.check i {
  color: #99E2D0;
  margin-top: 5px;
}

.delay1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.delay2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.delay3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.delay4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.section2 h2 {
  width: 60px;
  border-bottom: 5px solid #99E2D0;
}
.section2 h2 h2::after {
  width: 50%;
}
.section2 h2 p {
  font-size: 16px;
  font-weight: bolder;
}
.section2 h2 h3 {
  font-size: 16px;
}

body {
  font-family: "roboto-regular", sans-serif;
  margin: 0;
  padding: 0;
}

#contenu2 {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

/*effet load*/
.loader-contenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  z-index: 999;
  -webkit-animation: loader-contenu 4s linear;
          animation: loader-contenu 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader-contenu .loader {
  position: fixed;
  width: 80px;
  height: 80px;
  margin-top: 300px;
  border: 15px solid #99E2D0;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: loader 4s linear;
          animation: loader 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*classe spécial*/
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
}
header img {
  width: 200px;
  height: 50px;
  margin: 25px 0 15px 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px 0 25px 25px;
}
footer a {
  color: white;
}
footer .cut {
  margin-right: 15px;
}
footer .hand {
  margin-right: 10px;
}
footer img {
  filter: invert(100%);
  font-size: 12px;
}
footer .foot {
  padding: 8px 0 10px 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */