/*couleur*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body, html{
    background-color: blue;
    font-family: "roboto-regular", sans-serif;
    margin: 0;
    padding: 0;
}
