/*couleur*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey1: #f3f3f3; /*couleur position*/
$color-grey2: #f6f6f6; /*couleur contenu*/ 
$color-grey3: #353535; /*couleur footer*/
