/*page menu*/
.main2{
    height: 300px;
}
.main2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.fa-arrow-left{
    margin: 40px 0 0 15px;
    color: black;
}
.logo-center{
    width: 200px;
    height: 50px;
    margin: auto;
}
.margin-fleche{
    cursor: pointer;
}
.titre-menu{
    background-color: $color-grey2;
    align-items: center;
    padding: 0 15px 0 15px;
    border-radius: 40px 40px 0 0;
    h1{
        font-family:"Shrikhand";
        font-weight: bold;
        font-size: 30px;  
    }      
}
/*section carte restaurant*/
.section2{
    width: 100%;
    background-color: $color-grey2;
    padding-bottom: 60px;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -45px;
    .btn{
        width: 200px;
        border-radius: 25px;
        height: 50px;
        background: linear-gradient($color-secondary, $color-primary);
        text-align: center;
        margin: auto;
        cursor: pointer;
        p{
            color: white;
            line-height: 300%;
        }
    }
}
.section-title{
    padding-bottom: 20px;
    h2{
    margin-left: 25px;
    }
} 
/*carte menu + animation*/   
.txt-menu{
    height: 80px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    animation: menu 1s;
    animation-fill-mode: both;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    .txt-1{
        margin: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h3, p{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        } 
    }
    .txt-2{
        margin-top: 40px;
        margin-left: auto;
        font-weight: bold;
    }
    &:hover .check{
        margin-right: 0;
        transition-timing-function: cubic-bezier(.5,1.58,.34,.82);
    }    
    &:hover .item{
        animation: check .6s;
    }
    
}     
    .check{   
        overflow: hidden;
        width: 65px;
        height: 80px;
        border-radius: 0 15px 15px 0;
        background-color: $color-tertiary;
        margin-right: -65px;
        margin-left: 15px;
        
        .item{
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 100px;
            margin-top: 20px;
        }   
        i{
            color: $color-tertiary;
            margin-top: 5px;
        }
    }
.delay1{
    animation-delay: 150ms;
}
.delay2{
    animation-delay: 300ms;
}
.delay3{
    animation-delay: 450ms;
}
.delay4{
    animation-delay: 600ms;
}
.section2 h2{
    width: 60px;
    border-bottom: 5px solid $color-tertiary;
    h2::after{
        width: 50%;
    }
    p{
        font-size: 16px;
        font-weight: bolder;
    }
    h3{
        font-size: 16px;
    }
}

