@media screen and (min-width: 200px) and (max-width: 600px) {
    #contenu2{
        max-width: 600px;
    }
    #contenu{
        max-width: 600px;
    }
    .txt-menu{
        width: auto;
    } 
} 
@media  screen and (min-width:0px) and (max-width:1000px){
    #carte{
        width: auto;
        display: block;     
    }
}
       
/*Page d'acceuil*/
@media screen and (min-width: 1000px){
    #contenu{
        width: auto;
        margin: 0;
    }
    #menu-txt{
        padding: 25px 0 25px 0;
        h2{
            font-size: 30px;
        }
    }
    #filtre{
        display: flex;
        justify-content: space-around;
        margin: 0 25px 0 25px;
        width: auto;
        .filtre-btn{
            padding-right: 25px;
            padding: auto;
        }
    }   
}
@media screen and (min-width: 1000px) {
    section{
        max-width: 100%;
        h2{
            font-size: 30px;
        }
        #carte{
            align-content: space-around;
            .carte-img{
                margin: 0;
                margin: 15px;
            }
            .txt-card1{
                left: 70%;
                margin-right: auto;
            }  
        }   
    }
}

/*Page restaurant*/
@media screen and (min-width: 800px){           
    .main2 img{
        width: auto;
        height: auto;
    }
    .section2{
        max-width: 70%;
        margin: auto;  
    }
    .section-title{
        max-width: 70%;
        margin: auto;
    }
}

  

